
<!DOCTYPE html>
	<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8">
	
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text.css'/>
		
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>Login or Create a Free Account!</h1>
		</div>
		<p>Smart Restaurant App : Create New Staff account / Login using existing restaurant staff account. </p>
			<form th:action="@{/registerdelivery}" method="post" th:object="${guy}">
			 <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
     </div>
             </div>
         </div>
				<ul class="left-form">
					<h2>New Account:</h2>
					<li>
						<input id="name" th:field="*{name}" type="text"
							placeholder="Name" required />
						<div class="clear"> </div>
					</li> 
					<li>
						<input
							id="email" th:field="*{email}" type="email"
							required placeholder="Email" />
						<div class="clear"> </div>
					</li> 
					<li>
						<input
							id="password" type="password"
							th:field="*{password}" required placeholder="Password" />
						<div class="clear"> </div>
					</li> 
					
					<input type="submit"  value="Create Account" style="color:#28a745;">
						<div class="clear"> </div>
						<p> Already a user ? Click here to <a href="/getLogin">Login</a>
				</ul>
				
				</form>
				
				
			
		</div>	
</body>
</html>