
<!DOCTYPE html>
	<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 		xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8">
	
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text.css'/>
		
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>Login or Create a Free Account!</h1>
		</div>
		<p>Smart Restaurant App : Create New Staff account / Login using existing restaurant staff account. </p>
				
				<form th:action="@{/deliveryGuy/orders}" method="post">
				 <div class="alert alert-danger" role="alert" th:if="${param.error}">
				  <div class="alert alert-danger">
		            <span th:text="#{login.error}"></span>
		        </div>
				  </div>
			
				<ul class="left-form">
					<h3>Login:</h3>
					<div>
						<li>
						<input id="username" name="username" type="email" placeholder="UserName" required />
						
					</li>
						<li> <input type="password" id="password" name="password" placeholder="Password" required/></li>
					<!-- 	<h4>Forgot Password? </h4> <a href="#">click here!</a> -->
					 
						<input type="submit"  value="Login" style="color:#28a745;"/>
					</div>
					
				</ul>
				<div class="clear"> </div>
					
				</form>
			
		</div>	
</body>
</html>