<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BITS Smart Restaurant</title>
<link rel="stylesheet" href="/css/style-starter.css">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>


<body>

	<header id="site-header" class="fixed-top">
		<div class="container">
			<nav class="navbar navbar-expand-lg stroke px-0">
				<h1>
					<a class="navbar-brand" href="/home"> <i class="fa fa-cutlery"
						aria-hidden="true"></i> Smart Restaurant
					</a>
				</h1>

				<div class="ml-auto">
					<nav class="navigation">
						<div class="theme-switch-wrapper">
							<label class="theme-switch" for="checkbox"> <input
								type="checkbox" id="checkbox">
								<div class="mode-container">
									<i class="gg-sun"></i> <i class="gg-moon"></i>
								</div>
							</label>
						</div>
					</nav>
				</div>

			</nav>
		</div>
	</header>

	<div></div>

	<section class="w3l-contact-info-main" id="contact">
        <div class="contact-sec py-5">
            <div class="container py-md-4 py-3">
                <div class="contact-w3pvt-form">
                    <div class="title-big mb-5"></div>
                    <h5 class="title-big mb-5">Login using existing account.</h5>
                    <p>Login:</p> 

                  <form th:action="@{/home/index}" method="post">
				 <div class="alert alert-danger" role="alert" th:if="${param.error}">
				  <div class="alert alert-danger">
		            <span th:text="#{'Check login id and password'}"></span>
		        </div>
				  </div>
                        
	                        <div class="row main-cont-sec">
	                            <div class="col-md-8 mr-auto ml-auto">
	                                <div class="form-group">
	                                    <label for="w3lName">Email</label>
	                                    <input id="username" name="username"  type="text"	placeholder="" required />
	                                </div>
	                               
	                                <div class="form-group">
	                                    <label for="w3lSender">Password</label>
	                                    <input id="password" name="password" type="password" required placeholder="" />
	                                </div>
								
							</div>
	                        </div>
	                        <div class="form-group-2 mt-4">
	                            <button type="submit" class="btn button-style d-flex mr-auto ml-auto">Login</button>
	                        </div>
	                        <br><br>
	                        <p>	Forgot Password?<a href="#">click here!</a><p>
               
                    </form>
                </div>
            </div>
        </div>
    </section>
	

	<button onclick="topFunction()" id="movetop" title="Go to top">
		<span class="fa fa-level-up" aria-hidden="true"></span>
	</button>
	<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        
        
        function selectId(id){
        	document.getElementById("restaurantIndexHidden").value = id;
        	$( "#target" ).click();
        }
    </script>

	<script src="/js/jquery-3.3.1.min.js"></script>

	<script src="/js/theme-change.js"></script>
	<script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the 
            // class of outer div
            // The second paramter is the speed between each letter is typed.   
            autoType(".type-js", 200);
        });
    </script>


	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>

	<script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>

	<script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>

	<script src="/js/bootstrap.min.js"></script>

</body>

</html>
