<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BITS Smart Restaurant</title>
    <!-- google-fonts -->
    <!-- <link href="//fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet"> -->
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="css/style-starter.css">
</head>

<body>
<!-- script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script-->

    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke px-0">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        <i class="fa fa-cutlery" aria-hidden="true"></i> Smart Restaurant
                    </a>
                </h1>
                <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
				 
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    
                </div>
                <!-- search button -->
                <!-- //search button -->
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>

    <div>
        
    </div>

    <section class="w3l-contact-info-main" id="contact">
        <div class="contact-sec py-5">
            <div class="container py-md-4 py-3">
                <div class="contact-w3pvt-form">
                    <div class="title-big mb-5"></div>
                    <h3 class="mb-5">Check out the Reports</h3>
                    <form method="post" class="w3layouts-contact-fm" action="#">
                        
                        
                        <!-- div class="row main-cont-sec">
                            <div class="col-md-6 left-cont-contact">
                                <div class="form-group">
                                    <label for="w3lName">Start Date</label>                                    
                                    <input class="form-control" type="date" placehoder="Start Date" id="startDate">
                                </div>
                             </div>
                             <div class="col-md-6 right-cont-contact mt-md-0 mt-1"> 
                                <div class="form-group">
                                    <label for="w3lSender">End Date</label>
                                    <input class="form-control" type="date" placehoder="End Date" id="endDate">
                                </div>
                            </div>
                        </div>
                        <div class="form-group-2 mt-4">
                            <button type="submit" class="btn button-style d-flex ml-auto mr-auto">Submit</button>
                        </div -->
                        <div id="piechart" style="width: 900px; height: 500px;"></div>
                        <div id="chart_div"></div>
                    </form>
                </div>
            </div>
        </div>
        
        
    
        
        
    </section>

    <!-- //banner section -->
    <!-- about section -->
    
    <!-- //footer -->

    <!-- Js scripts -->
    <!-- move top -->
    
    
    
    <script>
    	
    
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        
        console.log("Another one");
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="js/jquery-3.3.1.min.js">
    
    
    </script>
    <script src="js/managerReports.js"></script>
    
    <script th:inline="javascript">
        var real_data = /*[[${orderItems}]]*/'noValue';
        //console.log("------",real_data.length);
        
        
 
        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
    
            google.charts.setOnLoadCallback(drawPieChart);
            google.charts.setOnLoadCallback(drawColumnChart);
        });
 
       	function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'MenuItem');
            data.addColumn('number', 'Total Sold');
            
            for (i =0; i < real_data.length;i++){
            	data.addRow([real_data[i].menuItem, real_data[i].count])
            } 
     
            var options = {
                title : 'Total Sales',
                hAxis : {
                    title : 'Menu Items',
                },
                vAxis : {
                    title : 'View Count'
                }
            };
            var chart = new google.visualization.ColumnChart(document
                    .getElementById('chart_div'));
            chart.draw(data, options);
        }

 
        function drawPieChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'MenuItem');
            data.addColumn('number', 'Total Sold');
            for(i = 0; i < 5; i++){
            	data.addRow([real_data[i].menuItem, real_data[i].count])
            }
            
            
            /* Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });*/
            var options = {
                title : 'Top 5 items'
            };
            var chart = new google.visualization.PieChart(document
                    .getElementById('piechart'));
            chart.draw(data, options);
        } 
    </script>
    
    
    
    
    
    <!-- //common jquery plugin -->

    <!-- theme switch js (light and dark)-->
    <script src="js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the 
            // class of outer div
            // The second paramter is the speed between each letter is typed.   
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->

    <!-- magnific popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>