body,html{
	height: 100%;
  	margin: 0;
	/*background-image: url('images/pngtree-vintage-ink-food-background-material-image_131446.jpg');*/
}

.bg {
  /* The image used */
  background-image: url("images/pngtree-vintage-ink-food-background-material-image_131446.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  /*background-position: center;*/
  background-repeat: no-repeat;
  /*background-size: cover;*/
  object-fit: cover;
}

/*style="background-image: url('images/pngtree-vintage-ink-food-background-material-image_131446.jpg');"*/